@import "tailwindcss";

#app {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
